<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Smart.Reactive Rules" Description="Smart.Reactive Rules" ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="Hidden" />
    <Rule Id="SA1116" Action="Hidden" />
    <Rule Id="SA1117" Action="Hidden" />
    <Rule Id="SA1201" Action="Hidden" />
    <Rule Id="SA1202" Action="Hidden" />
    <Rule Id="SA1516" Action="Hidden" />
    <Rule Id="SA1600" Action="Hidden" />
    <Rule Id="SA1633" Action="Hidden" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
  </Rules>
</RuleSet>